body {
  background-color: #e0ebf3;
  color: #2c2c2e;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 46px;
  font-weight: 500;
  padding-top: 15px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #88b2e4;
}

a:hover {
  color: #78b1f7;
}
footer {
  text-align: center;
  font-size: 12px;
}
.sleeky-weather-app {
  margin: 50px auto;
  max-width: 484px;
  height: 600px;
  box-shadow: 2px 2px 2px 1px rgba(215, 220, 224, 0.4);
  background-color: #f4f6f7;
  border-radius: 30px;
}

.row {
  padding: 20px 10% 8px;
}

.toggle-button-column {
  text-align: right;
  padding-right: 30px;
}

.current-weather {
  margin: 3%;
  position: relative;
}
.current-weather-icon {
  width: 100px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
}
.weather-description {
  font-size: 18px;
  position: relative;
  left: 22px;
}
.inactiveLink {
  color: #2c2c2e;
  cursor: default;
}
.inactiveLink:hover {
  color: #2c2c2e;
  cursor: default;
}

.city-search-form {
  padding: 8px 20px 20px 20px;
  text-align: center;
}
.city-input-line {
  border-radius: 20px;
  border-width: 1px;
  border-color: #e5dcde;
  font-style: italic;
  color: #2c2c2e;
  box-shadow: 2px 2px 2px 1px rgba(215, 220, 224, 0.4);
  width: 300px;
  height: 30px;
  padding-left: 15px;

  border-style: none;
}
.city-input-line:focus {
  outline-color: rgba(96, 154, 221, 0.737);
}
.city-input-line::placeholder {
  opacity: 0.6;
}

.search-button {
  width: 60px;
  height: 30px;
  font-size: 18px;
  color: #fff;
  background-color: rgba(96, 154, 221, 0.737);
  border-radius: 20px;
  border-style: none;
  position: relative;
  border-width: 1px;
  box-shadow: 2px 2px 2px 1px rgba(215, 220, 224, 0.4);
}
.unit-switcher {
  width: 60px;
  height: 30px;
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(215, 220, 224, 0.4);
}
.unit-switcher:hover {
  cursor: pointer;
}
.unit-switcher::before {
  position: relative;
  content: " C° ";
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  background-color: #e18066;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  transition: 0.6s ease all;
  box-shadow: 1px 1px 1px 1px rgba(215, 220, 224, 0.3);
  left: 0px;
}
.unit-switcher:checked::before {
  content: " F° ";
  text-align: center;
  color: #f8f5f5;
  font-size: 20px;
  font-weight: 200;
  background-color: rgba(96, 154, 221, 0.737);
  left: 38px;
}
